<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header-test"></div>

<div class="container body-content">
    <h1>ScheduleSheets Test</h1>
    <h2>Test:</h2>

    <form method="post" style="max-width:600px;">
        PassHashing:<br />
        Username:<br />
        <input type="text" name="user" /><br />
        Password:<br />
        <input type="password" name="pass" /><br />
        <input type="checkbox" name="login" /> Logging in<br />
        <input type="submit" value="Submit" />
    </form>
    <div th:if="${registered}">
        <p>Registration Successful</p>
    </div>
    <div th:if="${nameTaken}">
        <p>Username Taken</p>
    </div>
    <span th:text="${loggedin} ? 'Logged In' : 'Not Logged In'"></span>

</div>

</body>
</html>