<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1>ScheduleSheets Test</h1>
    <h2>Test:</h2>

    <form>
        PassHashing:<br/>
        Username:<br/>
        <input type="text" name="user" /><br/>
        Password:<br/>
        <input type="text" name="pass" /><br/>
        <input type="checkbox" name="login" th:checked="${logging-in}"> Logging in<br/>
        <input type="submit" value="Submit" />
    </form>
    <div th:if="${registered}">
        <p>Registration Successful</p>
    </div>
    <div th:unless="${logged-in}">
        <h3>Not Logged In</h3>
    </div>
    <div th:if="${logged-in}">
        <h3>Logged In</h3>
    </div>
</div>

</body>
</html>